#root {
    margin: auto;

    display: grid;
    grid-template-rows: 3fr;
}

.proyect {
    margin: auto;
    width: 375px;
    height: 961px;
    border: 3px solid black;
    border-radius: 20px;

    gap: 5px;

    display: flex;
    justify-content: space-around;
}