.cuadro1 {
    max-width: 365px;
    max-height: 245px;
    align-items: center;
    border: 2px solid gray;
    border-radius: 5%;
    margin-top: 15px;

}

.h2 {
    text-align: start;
}

.img-logo {
    width: 350px;
    height: 200px;
    border-radius: 5%;
    border: 1px solid black;
}